*, *::before, *::after {
  animation-delay: 0s !important;
  animation-duration: 0s !important;
  transition: none !important;
}

nextjs-portal,
[data-nextjs-toast],
[data-next-badge-root] {
  display: none !important;
}
